<footer class="page-footer"> 
<div class="row">
    <div class="col s6">
        <a href="{{ base_url }}"><img class="logo-footer" src="{{ url('theme://images/logo.png') }}"></a>
        <div class="footer-details">
            <p class="top-align-p white-text"><i class="footer-left-icon fa fa-envelope"></i>{{ page.find('/home').header.contact_email }}</p>
            <p class="top-align-p white-text"><i class="footer-left-icon fa fa-phone"></i>{{ page.find('/home').header.contact_number }}</p>
        </div>
    </div>
    <div class="col s6 right-align">
        <a class="footer-social top-align-p" href=" https://www.facebook.com/nextgencreators/"><i class="fa fa-lg fa-facebook"></i></a>
        <a class="footer-social top-align-p" href="https://twitter.com/NextGenCreators"><i class="fa fa-lg fa-twitter-square"></i></a>
        <a class="footer-social top-align-p" href="https://www.instagram.com/nextgencreators/"><i class="fa fa-lg fa-instagram"></i></a>
        <a class="footer-social top-align-p" href="https://www.linkedin.com/company/10541554/"><i class="fa fa-lg fa-linkedin"></i></a>
        <p class="top-align-p">Made with <i id="madeby-icon" class="fa"></i> by <a id="elixir-labs" href="http://www.elixirlabs.org/" target="_blank">Elixir Labs</a></p>

    </div>
</div>
</footer>